.action-button{
    border: none;
    border-radius: 4px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 8px 16px;
    height: min-content;
}

.action-button:hover{
    cursor: pointer;
}