@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


:root{
    --base-bg: #f3f4f6;
    --resume-section-color: #0e374e;
    --base-foreground: #ffffff;
    --default-font: "Gabarito";
}

body{
    font-family: "Gabarito";
    font-size: 16px;
}

h1{
    font-size: 32px;
    font-weight: bold;
}   

h2{
    font-size: 18px;
    font-weight: bold;
}